/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: inline;
  margin: 0 auto;
  width: 150px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
